.comment-container {
    background-color: var(--white-color);
    width: max-content;
    max-width: 460px;
    border-radius: 10px;
    height: max-content;
    max-height: 200px;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;  
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
}

.comment-container button {
   width: 6rem; 
}

.comment-container button:hover {
   opacity: 0.5; 
 }